.history-item {
    border: 1px solid gray;
    margin: 8px;
    padding: 16px;
    display: flex;

    .title{
        flex-grow: 1;
        display: flex;
        input {
            flex-grow: 1;
            margin-left: 16px;
            margin-right: 16px;
        }
    }

    .duration {
        margin-right: 16px;
    }
}


.header{
    display: flex;
    h3 {
        flex-grow:1;
    }
}

.save-button {
    margin-top: 16px;
    margin-right: 16px;
}