.history-item {
    border: 1px solid lightgray;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 16px;
    display: flex;

    input {
        margin-left: 8px;
        margin-right: 8px;
        border: 0 solid rgb(206, 212, 218);
        border-bottom: 1px solid rgb(206, 212, 218);
        outline: none;
    }
    input:hover{
        border: 1px solid rgb(206, 212, 218);
    }
    input:focus {
        border: 1px solid rgb(206, 212, 218);
        box-shadow: none;
    }

    .duration {
        text-align: center;
        padding-left: 8px;
        padding-right: 8px;
    }
    .duration:focus {
        width: 140px;
        text-align: right;
    }

    button {
        margin-left: 8px;
    }
}

.header{
    display: flex;
    h3 {
        flex-grow:1;
    }
}

.save-button {
    margin-right: 18px;
}