@import url('https://unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css');

// dark theme cut and pasted from darkreader
@media (prefers-color-scheme: dark) {
    body {
        color: rgb(146, 144, 139);
        background-color: rgb(17, 18, 19); 
    }
    .form-control {
        color: rgb(127, 122, 116);
        background-color: rgb(17, 18, 19);
        border-color: rgb(42, 45, 48);
    }
    .form-control:focus {
        color: rgb(127, 122, 116);
        background-color: rgb(17, 18, 19);
    }

    ::-webkit-scrollbar {
        background-color: #2b2d2d;
        color: #aca496;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #4e5151;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #5f6364;
    }
    ::-webkit-scrollbar-thumb:active {
        background-color: #515455;
    }
    ::-webkit-scrollbar-corner {
        background-color: #242525;
    }
    * {
        scrollbar-color: #2b2d2d #4e5151;
    }

}
